

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}
.mo-display {display: none;}
.pc-display {display: block;}


/* cursor custom */
.cursor {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 100;
  width:12px;
  height: 12px;
  border-radius: 50%;
  backdrop-filter: sepia(100%);
  filter: invert(1);
  transition: all 0.3s ease;
  transition-property: transform;
  pointer-events: none;
}
.cursor.on {
  transform: scale(1.05);
}
#cursor_div {position: fixed;left: 0;top: 0;z-index: 5000;pointer-events: none;} 
#cursor_div .cursor__wrap { 
  transform: translate(-50%, -50%); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  transition: opacity .3s ease; 
  opacity: 0; 
} 
#cursor_div .cursor__wrap.on {opacity: 1;} 
#cursor_div .cursor__inner { text-align: center;} 
#cursor_div .cursor__inner p {
  /* font-size: 16px; */
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
} 