@import './fonts.css';
@import './reset.css';
@import './common.css';



/* header */
header {
  position: fixed;
  color: var(--white);
  padding: 40px 60px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .header__logo-link {
  font-size: 18px;
  color: var(--white);
  font-weight: 300;
}



/* main */
main {
  border-bottom: .01rem solid var(--black-1);
}


/* footer */
footer {
  width: 100%;
  position: relative;
  padding: 100px 50px;
}
footer .footer__headline {
  font-size: 50px;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
}
footer .footer__content {
  position: relative;
  width: 100%;
}
footer .footer__list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
footer .footer__list li {
  flex: 1;
  color: var(--white);
}
footer .footer__list li a {
  font-size: 20px;
  font-weight: 300;
  transition: .5s;
}
footer .footer__list .footer__contact {
  display: flex;
  flex-direction: column;
}
footer .footer__list .footer__link {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px
}
footer .footer__list .footer__link a {
  font-size: 18px;
}
footer .footer__list a:hover {
  opacity: .5;
}
footer small {
  display: block;
  text-align: right;
  color: var(--white-4);
  font-size: 14px;
  margin-top: 10px;
}





@media (max-width:1024px) {
  header .header__logo-link {
    font-size: 16px;
  }
  footer {
    padding: 50px 20px;
  }
  footer .footer__content {
    padding: 0;
  }
  footer .footer__headline {
    font-size: 40px;
  }
  footer .footer__list {
    margin-top: 20px;
  }
  footer .footer__list .footer__contact {
    margin-bottom: 0;
  }
  footer .footer__list li a {
    font-size: 16px;
  }
  footer .footer__list .footer__link a {
    font-size: 14px;
  }
  footer small {
    font-size: 12px;
    margin-top: 0;
  }
}



@media (max-width:768px) {
  header {
    padding: 20px;
  }
  header .header__copy-area {
    display: none;
  }
  footer .footer__headline {
    font-size: 25px;
  }
  footer .footer__list {
    margin-top: 30px;
    flex-direction: column;
    align-items: start;
  }
  footer .footer__list .footer__link {
    margin-top: 5px;
  }
  footer small {
    text-align: left;
    margin-top: 20px;
    color: var(--gray);
  }
}