
/* intro */
.intro__wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}
.intro__wrap .intro__gauge-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__wrap #scroll-text {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  overflow: hidden; 
  text-transform: uppercase;
}
.intro__wrap #scroll-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background: var(--black); 
  transition: width .3s;
}
.intro__wrap #scroll-text.highlight::after {
  width: 100%; 
}
.intro__wrap #scroll-text.highlight {
  color: var(--black); 
  animation: highlight .3s forwards; 
}
.intro__wrap #scroll-text span {
  font-size: 22px;
}







/* sc-visual */
.visual__wrap {
  position: relative;
}
.visual__inner {
  height: 400vh;
}
.visual__wrap .visual__sticky-wrapper {
  height: 100%;
}
.visual__wrap .visual__sticky {
  position: sticky;
  top: 0;
}
.visual__wrap .visual__content {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  z-index: 100;
  color: var(--white); 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.visual__wrap .visual__content .visual__hero-text {
  text-align: center;
  font-weight: var(--font-weight-medium);
  line-height: .95;
}
.visual__wrap .visual__content .visual__hero-text > span {
  display: block;
} 
.visual__wrap .visual__content .visual__hero-text .visual__hero-line {
  display: block;
  text-align: center;
  font-size: 8vw;
  overflow: hidden;
}
.visual__wrap .visual__content .visual__hero-text .visual__line-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}





/* sc-about */
.about__wrap {
  padding: 0 20px;
  margin-top: 100px;
  color:  var(--white); 
}
.about__wrap .about__inner {
  display: flex;
  justify-content: space-between;
}
.about__wrap .about__inner .about__headline {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 18px;
  letter-spacing: 0.1rem;
  flex: 1;
}
.about__wrap .about__inner .about__content {
  font-family: var(--font-family-preten);
  width: 60%;
  font-size: 22px;
} 




/* main__wrap */
.main__wrap {
  margin-top: 100px;
  padding: 0 20px;
}
.main__wrap .headline {
  font-size: 18px;
  letter-spacing: 0.1rem;
  color: var(--white); 
  grid-column: 1;
  grid-row: 1 / 1;
  text-transform: uppercase;
  text-decoration: underline;
}
.main__wrap .main-projects__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 15px;
  grid-row-gap: 140px;
}
.main__wrap .main-projects__item {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
}
.main__wrap .main-projects__item:nth-child(6) {
  height: 600px;
}
.main__wrap .main-projects__item:nth-child(3) {
  height: 550px;
}
.main__wrap .main-projects__item .main-projects__thumb-link {
  flex: 1;
  cursor: none;
}
.main__wrap .main-projects__item:nth-child(1) {
  grid-column: 3 / span 4;
  grid-row: 1 / 2;
}
.main__wrap .main-projects__item:nth-child(2) {
  grid-column: 1 / span 4;
  grid-row: 2 / 3;
}
.main__wrap .main-projects__item:nth-child(3) {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
}
.main__wrap .main-projects__item:nth-child(4) { 
  grid-column: 3 / span 5;
  grid-row: 3 / 4;
}
.main__wrap .main-projects__item:nth-child(5) {
  grid-column: 1 / span 4;
  grid-row: 4 / 5;
}
.main__wrap .main-projects__item:nth-child(6) {
  grid-column: 5 / span 3;
  grid-row: 4 / 5;
}
.main__wrap .main-projects__item .thumb-area {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main__wrap .main-projects__item .thumb-area .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main__wrap .main-projects__item .ori-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
}
.main__wrap .main-projects__item .hv-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.2);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .15s linear .1s, transform .25s cubic-bezier(.55,.085,.68,.53);
  object-fit: cover;
}
.main__wrap .main-projects__item:hover .hv-img {
  opacity: 1; 
  transform: scale(1);
  transition: opacity .25s linear, transform .65s cubic-bezier(.19,1,.22,1);
}
.main__wrap .main-projects__item:hover .ori-img {
  opacity: 0;
}
.main__wrap .main-projects__item .info-area {
  margin-top: 15px;
  color: var(--white); 
}
.main__wrap .main-projects__item .info-area p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 20px;
  font-weight: var(--font-weight-regular);
  color:var(--white-1);
}
.main__wrap .main-projects__item .info-area span:nth-of-type(1) {
  font-weight: var(--font-weight-light);
  font-size: 18px;
}
.main__wrap .main-projects__item .info-area span:nth-of-type(2) {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  color:var(--white-2);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.1rem;
}
.main__wrap .main-projects__item .info-area .main-projects__review-link:hover::after {
  bottom: 50%;
}
.main__wrap .main-projects__item .info-area .main-projects__review-link {
  display: inline-block;
  position: relative;
  margin-top: 15px;
  padding: 10px 0;
  font-size: 18px;
}
.main__wrap .main-projects__item .info-area .main-projects__review-link::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid var(--white); 
  transition: bottom 0.5s;
}






/* .front__wrap */
.front__wrap {
  margin-top: 200px;
  padding: 100px 20px;
}
.front__wrap .headline {
  font-size: 18px;
  letter-spacing: 0.1rem;
  color:  var(--white); 
  grid-column: 1;
  grid-row: 1 / 1;
  text-transform: uppercase;
  text-decoration: underline;
}
.front__wrap .projects-fe__list {
  width: 100%;
}
.front__wrap .projects-fe__item {
  position: relative;
  color:  var(--white); 
  letter-spacing: -0.05rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 50px 0;
}
.front__wrap .projects-fe__item > a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.front__wrap .projects-fe__item+.projects-fe__item {
  margin-top: 20px;
}
.front__wrap .projects-fe__item .projects-fe__info-area {
  height: 100%;
  flex: 1;
}
.front__wrap .projects-fe__item .projects-fe__info-area p {
  font-size: 80px;
}
.front__wrap .projects-fe__item .projects-fe__info-area span {
  font-size: 20px;
  font-weight: var(--font-weight-light);
  letter-spacing: 0.01rem;
}
.front__wrap .projects-fe__item .projects-fe__thumb-area {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  overflow: hidden;
  flex: 1;
}
.front__wrap .projects-fe__item .projects-fe__link-box {
  margin-top: 25px;
  display: flex;
  justify-content: start;
  gap: 7px;
}
.front__wrap .projects-fe__item .projects-fe__link-box a {
  display: inline-block;
  padding: 6px;
  z-index: 3;
  color: var(--black-1);
  border-radius: 5px;
  font-size: 16px;
  transition: .3s;
  background: var(--white);
}
.front__wrap .projects-fe__item .projects-fe__link-box a:hover {
  color: var(--white);
  background: var(--black-1);
}
.front__wrap .projects-fe__item .projects-fe__thumb-area p {
  font-size: 35px;
  color: var(--white-3);
}
.front__wrap .projects-fe__item .projects-fe__thumb-area .hover-list {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.front__wrap .projects-fe__item .projects-fe__thumb-area .hover-item {
  height: 100%;
  flex: 1;
  object-fit: contain;
}
.front__wrap .projects-fe__item .projects-fe__thumb-area .hover-item img {
  height: 100%;
}




/* work__wrap */
.work__wrap {
  position: relative;
  text-align: center;
  color: var(--white);
}
.work__wrap::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 200px;
  background: var(--white);
  opacity: .2;
}
.work__wrap .headline {
  position: relative;
  margin-top: 300px;
  font-size: 150px;
}
.work__wrap .work__list {
  width: 100%;
  margin: 200px auto 50px;
}
.work__wrap .work__item {
  width: 100%;
  display: flex;
  color: var(--black-1);
}
.work__wrap .work__item:hover {
  background: linear-gradient(90deg, hsla(0, 0%, 100%, .1) 80%, transparent);
}
.work__wrap .work__item a {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 3fr 4fr;
}
.work__wrap .work__item:nth-child(2n) a {
  border-top: .1rem solid hsla(0, 0%, 100%, .2);
  border-bottom: .1rem solid hsla(0, 0%, 100%, .2);
}
.work__wrap .work__item:last-child a {
  border-bottom: none;
}
.work__wrap .work__item strong {
  font-size: 16px;
  color: var(--white);
}
.work__wrap .work__item .title {
  font-size: 50px;
  color: var(--white);
}
.work__wrap .work__item .title > span {
  font-size: 20px;
}
.work__wrap .work__item .works__desc li {
  width: 70%;
  font-size: 20px;
  color: var(--white);
}
.work__wrap .work__item .works__desc li+li {
  margin-top: 5px;
}
.work__wrap .work__item .works__desc .works__desc-title {
  margin-bottom: 20px;
}
.work__wrap .work__item .works__desc li:last-child {
  list-style-type: none;
}
.work__wrap .work__item .works__desc span {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  color: var(--gray);
}







@media (max-width:1680px) {
  .visual__wrap .visual__hero-line img {
    width: 110px;
  }
  .main__wrap .main-projects__item {
    height: 700px;
  }
  .main__wrap .main-projects__item:nth-child(3),
  .main__wrap .main-projects__item:nth-child(6) {
    height:500px;
  }
}


@media (max-width:1600px) {
  .front__wrap .projects-fe__item .projects-fe__info-area p {
    font-size: 60px;
  }
  .front__wrap .projects-fe__item .projects-fe__info-area span {
    font-size: 18px;
  }
  .front__wrap .projects-fe__item+.projects-fe__item {
    margin-top: 10px;
  }
  .front__wrap .projects-fe__item .projects-fe__thumb-area {
    height: 150px;
  }
  .front__wrap .projects-fe__item .projects-fe__thumb-area .projects-fe__link-box a {
    font-size: 16px;
  }
  .work__wrap .headline {
    position: relative;
    margin-top: 300px;
    font-size: 100px;
  }
  .work__wrap .work__item a {
    width: 85%;
    padding: 50px 0;
  }
  .work__wrap .work__item .title {
    font-size: 30px;
  }
}


@media (max-width:1440px) {
  .main__wrap .main-projects__item {
    height: 500px;
  }
  .main__wrap .main-projects__item:nth-child(3),
  .main__wrap .main-projects__item:nth-child(6) {
    height:400px;
  }
  .work__wrap .work__item a {
    width: 100%;
    padding: 30px 20px;
    grid-template-columns: 1fr 2fr 4fr;
  }
}


@media (max-width:1200px) {
  .main__wrap .main-projects__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .main__wrap .main-projects__item {
    height: 550px;
  }
  .main__wrap .main-projects__item:nth-child(3),
  .main__wrap .main-projects__item:nth-child(6) {
    height:400px;
  }
  .work__wrap .work__item a {
    grid-template-columns: 0.5fr 1fr 3fr;
  }
  .work__wrap .work__item .title {
    font-size: 22px;
  }
  .work__wrap .work__item .works__desc li {
    font-size: 18px;
  }
  .front__wrap .projects-fe__item .projects-fe__info-area p {
    font-size: 45px;
  }
  .front__wrap .projects-fe__item .projects-fe__thumb-area {
    flex: 1.5;
  }
}


@media (max-width:1024px) {
  .mo-display {display: block;}
  .pc-display {display: none;}
  .visual__wrap .mo-display {
    height: 100vh;
  }
  .visual__wrap .mo-display .visual__mobile-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
  }
  .visual__wrap .mo-display .visual__mobile-content .visual__mobile-text {
    width: 60%;
    font-size: 60px;
    text-align: center;
  }
  .about__wrap .about__inner {
    flex-direction: column;
  }
  .about__wrap .about__inner .about__content {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
  }
  .main__wrap .main-projects__list {
    gap: 40px;
  }
  .main__wrap .main-projects__item {
    width: 100%;
  }
  .main__wrap .main-projects__item .info-area p {
    letter-spacing: 0.1rem;
  }
  .main__wrap .main-projects__item .info-area span {
    font-size: 14px;
    letter-spacing: 0.1rem;
  }
  .main__wrap .main-projects__item .info-area .main-projects__review-link {
    margin-top: 10px;
  }
  .front__wrap {
    margin-top: 250px;
    padding: 20px;
  }
  .front__wrap .projects-fe__item .projects-fe__info-area p {
    font-size: 22px;
  }
  .front__wrap .projects-fe__item .projects-fe__thumb-area p {
    font-size: 20px;
    color: var(--white-4);
  }
  .front__wrap .projects-fe__item .projects-fe__link-box a {
    font-size: 16px;
    border-radius: 2px;
  }
  .front__wrap .projects-fe__item .projects-fe__thumb-area {
    height: auto;
  }
  .front__wrap .projects-fe__item .projects-fe__thumb-area .hover-list {
    display: none;
  }
  .work__wrap::before {
    height: 150px;
  }
  .work__wrap .headline {
    margin-top: 150px;
    font-size: 50px;
  }
  .work__wrap .work__list {
    margin: 100px auto;
  }
  .work__wrap .work__item .works__desc li {
    width: 100%;
  }
  .work__wrap .work__item a {
    display: flex;
    flex-direction: column;
  }
  .work__wrap .work__item .title {
    font-size: 20px;
    margin-top: 10px;
    font-weight: var(--font-weight-bold);
  }
  .work__wrap .work__item .works__desc li {
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    color: var(--white-4);
  }
  .work__wrap .work__item .works__desc span {
    font-size: 14px;
  }
}




@media (max-width:768px) {
  .visual__wrap .mo-display .visual__mobile-content .visual__mobile-text {
    width: 90%;
    font-size: 45px;
  }
  .about__wrap .about__inner .about__content br {
    display: none;
  }
  .main__wrap .main-projects__item .info-area p {
    font-size: 16px;
  }
  .main__wrap .main-projects__item .info-area span:nth-of-type(1) {
    font-size: 15px;
  }
  .main__wrap .main-projects__item .info-area span:nth-of-type(2) {
    font-size: 14px;
  }
  .main__wrap .main-projects__item .info-area .main-projects__review-link {
    margin-top: 5px;
    font-size: 15px;
  }
  .about__wrap .about__inner .about__headline,
  .main__wrap .headline {
    font-size: 16px;
  }
  .main__wrap .main-projects__item {
    height: 400px;
  }
  .front__wrap {
    margin-top: 100px;
  }
  .front__wrap .projects-fe__item .projects-fe__link-box {
    margin-top: 10px;
  }
  .front__wrap .projects-fe__item .projects-fe__link-box a {
    padding: 3px;
    font-size: 13px;
  }
  .front__wrap .projects-fe__item .projects-fe__thumb-area {
    /* flex: 1; */
    display: none;
  }
  .front__wrap .projects-fe__item .projects-fe__info-area p {
    font-size: 18px;
  }
  .front__wrap .projects-fe__item .projects-fe__info-area span {
    display: block;
    margin-top: 3px;
    font-size: 14px;
  }
  .work__wrap::before {
    content: none;
  }
  .work__wrap .headline {
    margin-top: 100px;
    font-size: 30px;
  }

}