
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
/* html, body {height:100%;} */
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul {list-style: none;}
form, input {border: none;}


:root {
  --black:#000;
  --black-1:#333;
  --white:#fff;
  --white-1:#fafaf8;
  --white-2:#efefef;
  --white-3:#eee;
  --white-4:#ddd;
  --gray:#888;

  /* 폰트관련 */
  --font-family-preten: "Pretendard", sans-serif;
  --base-letterspacing:-0.02em;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  background: var(--black);
  color: var(--white);
  letter-spacing: var(--base-letterspacing);
  font-family: var(--font-family-preten);
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
  font-size: var(--base-font-size);
  word-break: break-all;
}
